[submodule "fancybox"]
	path = fancybox
	url = git://github.com/fancyapps/fancyBox.git
[submodule "xhp"]
	path = xhp
	url = git://github.com/facebook/xhp
[submodule "facebook"]
	path = facebook
	url = git://github.com/facebook/facebook-php-sdk
